* {
    margin: 0px;
    padding: 0px;
}

img {
    border: 8px white solid;
}

.grid-container {
    display: grid;
    grid-template-columns: 228px 228px 229px 300px;
    grid-template-rows: 120px 160px 348px 340px;
    grid-gap: 0px;
    width: 1000px;
    margin: 0px auto;
}

.menu {
    grid-column: 1/3;
    grid-row: 1;
    width: 1000px;
    height: 120px;
    border: none;
}
.banner {
    grid-column: 1/3;
    grid-row: 2;
    width: 1000px;
    height: 160px;
    border: none;
}
.commandos {
    grid-column: 1/2;
    grid-row: 3;
    width: 460px;
    height: 340px;
}
.max-verstappen {
    grid-column: 3;
    grid-row: 3;
    width: 220px;
    height: 340px;
}
.just-recieved {
    grid-column: 4;
    grid-row: 3;
    width: 300px;
    height: 485px;
}
.flu-vaccin {
    grid-column: 1;
    grid-row: 4;
    width: 220px;
    height: 340px;
}
.sunlit {
    grid-column: 2;
    grid-row: 4;
    width: 221px;
    height: 340px;
}
.scandal {
    grid-column: 3;
    grid-row: 4;
    width: 220px;
    height: 340px;
}