* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    background: linear-gradient(to right, #e66465, #9198e5);
    font-family: 'Roboto', sans-serif;
}
body {
    width: 1224px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
}
div {
    display: inline-block;
    width: 300px;
    height: 250px;
    border-left: 2px solid grey;
}
div:last-of-type {
    border-right: 2px solid grey;
}
div h2 {
    text-align: center;
    margin-top: 10px;
}
div h4 {
    margin: 10px 100px;
}