* {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
}

html {
    width: 100%;
    height: 100%;
}
body {
    background: linear-gradient(to bottom, #465fd4, #537eef);
    font-family: 'Roboto', sans-serif;
}

div.letterSelector {
    width: 120vmin;
    height: 30vmin;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1.selectorH1 {
    color: white;
    font-size: 5vmin;
    line-height: calc(5vmin + (5vmin / 3));
    text-align: center;
    user-select: none;
}
button.selectorBtn {
    height: 15.5vmin;
    width: 15.5vmin;
    margin-top: calc((9.5vmin - 5vmin / 3) / 2);
    margin-left: calc(42.5vmin / 6);
    background: linear-gradient(to bottom, #519ed9, #0e71c6);
    border: 0.4vmin solid white;
    outline: none;
    cursor: pointer;

    color: white;
    font-size: 9vmin;
    line-height: 12vmin;
    text-align: center;
    user-select: none;
}
button.selectorBtn:hover {
    opacity: 60%;
}


div.board {
    height: 80vmin;
    background: linear-gradient(to bottom, #519ed9, #0e71c6);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.letterBox {
    height: 15.5vmin;
    width: 15.5vmin;
    margin: 0.25vmin;
    display: inline-block;
    background: linear-gradient(to bottom, #519ed9, #0e71c6);

    color: white;
    font-size: 12vmin;
    line-height: 16vmin;
    text-align: center;
    user-select: none;
}

div.endDiv {
    height: 40vmin;
    width: 75vmin;
    z-index: 1;
    background: linear-gradient(to bottom, #519ed9, #0e71c6);
    border: 0.5vmin solid white;
    border-radius: 10%;
    
    color: white;
    text-align: center;
    user-select: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.endDiv h1 {
    font-size: 7.5vmin;
}
div.endDiv h2 {
    width: 57.5vmin;
    margin: 0px auto;
    margin-top: 3vmin;
    font-size: 5vmin;
}
div.endDiv button {
    height: 7.5vmin;
    width: 7.5vmin;
    background-color: #df2936;
    margin: 2vmin 0px 0px 62.5vmin;
    border: 0.3vmin solid white;
    border-radius: 15%;
    outline: none;
    color: white;
    font-size: 5vmin;
    line-height: 5vmin;
}