* {
    margin: 0px;
    padding: 0px; 
}

body {
    background: linear-gradient(to right, #e66465, #9198e5);
    font-family: 'Roboto', sans-serif;
    margin: 40px;
}
hr {
    height: 2px;
    border-width: 0px;
    background-color: #00ff77;
}