* {
    margin: 0px;
    padding: 0px; 
}

body {
    background: linear-gradient(to right, #e66465, #9198e5);
    font-family: 'Roboto', sans-serif;
    margin: 10vmin;
}
h2 {
    margin-bottom: 10vmin;
}