body {
    margin: 0 auto;
    width: 50%;
    font-size:20px;
}


img{
    width: 100%;
}

ul>li>span{
    width: 200px;
    display: inline-block;
}

label{
    display: inline-block;
    width: 100px;
}

input{
    width: 300px;
}

nav>ul{
    padding:0;
}

nav>ul>li{
    list-style: none;
    display: inline;
    padding-right:10px;
    font-size: 30px;
}

nav>ul>li>a{
    color:rebeccapurple;
}

footer{
   text-align: center;
}

span.error{
    color:red;
}