body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}
#background {
    background: url('images/teamavatar.png') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.center {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1#strokeText {
    -webkit-text-stroke: 2px black;
    color: white;
    font-size: 40px;
}

input.button {
    width: 250px;
    height: 83px;
    cursor: pointer;
    background: linear-gradient(to right, #66ff33, #00ff77); 
    border: solid white;
    outline: none;

    font-size: 35px;
    font-weight: bold;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
    position: absolute;
}
input.startButton {
    background: linear-gradient(to right, #66ff33, #00ff77); 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input.startButton:hover {
    border: 5px solid white;
    width: 275px;
    height: 92px;
    font-size: 38px;
}
input.choiceButton {
    font-size: 30px; 
}
input.choiceButton:hover {
    border: 5px solid white;
    width: 275px;
    height: 92px;
    font-size: 32px;
    z-index: 1;
}
input.leftChoiceButton {
    top: 50%;
    left: 35%;
    transform: translate(-35%, -50%);
}
input.rightChoiceButton {
    top: 50%;
    left: 65%;
    transform: translate(-65%, -50%);
}
input.centerChoiceButton {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%); 
}
input.findAangButton {
    position: absolute;
    width: 20%;
    height: 60%;
    
    outline: none;
    cursor: auto;
    background: transparent; 
    border: none;
    
    top: 60%;
    left: 75%;
    transform: translate(-75%, -50%);
}

input#waterChoice1Left {
    background: radial-gradient(white 40%, #71a6d2 75%);
}
input#waterChoice1Right {
    background: linear-gradient(to bottom, #71a6d2, #0059b3);
}
input#waterChoice2LeftTowards {
    background: linear-gradient(to bottom, #c6efff, #5b73b4);
}
input#waterChoice2RightTowards {
    background: linear-gradient(to top, #e79aff, #b148d2);
}
input#waterChoice2LeftFishing {
    background: linear-gradient(to bottom, red, darkred);
}
input#waterChoice2RightFishing {
    background: linear-gradient(to bottom, white, grey);
}
input#waterChoice3LeftBreak {
    background: linear-gradient(to bottom, red, darkred);
}
input#waterChoice3RightBreak {
    background: linear-gradient(to bottom, white, grey);
}
input#waterChoice3CenterBreak {
    background: linear-gradient(to bottom, #FAD672, #F49547);
}
input#waterChoice3LeftRun {
    background: linear-gradient(to bottom, red, darkred);
}
input#waterChoice3RightRun {
    background: linear-gradient(to bottom, white, grey);
}