* {
    margin: 0px;
    padding: 0px;
}

div {
    height: 95vmin;
    width: 142.5vmin;
    background: #aaaaaa;
    border: 0.75vmin solid #888888;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button {
    height: 12.5vmin;
    width: 25vmin;
    background: #00ff33;
    margin: calc(20vmin / 7) 0px 0px calc(17.5vmin / 6);
    border: 0.5vmin solid transparent;
    outline: none;
    font-size: 6vmin;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}
button:hover {
    border: 0.5vmin solid white;
}