* {
	margin: 0px;
	padding: 0px;
}

#puzzle{
	width: 600px;
	height: 400px;
	margin: 40px;
	border: 4px solid black;
	position: absolute;
	background-color: lightgreen;
}
#puzzle:hover { margin-left: 400px; }



img { position: absolute; }
img:nth-of-type(2) { left: 51px; }
img:nth-of-type(3) { left: 133px; }
img:nth-of-type(4) { left: 190px; }
img:nth-of-type(5) { left: 240px; }
img:nth-of-type(6) { left: 314px; }
img:nth-of-type(7) { left: 378px; }
img:nth-of-type(8) { left: 447px; }
img:nth-of-type(9) { left: 513px; }
img:nth-of-type(10) { left: 564px; }

img:nth-of-type(11) { top: 52px; }
img:nth-of-type(12) { top: 83px; left: 51px; }
img:nth-of-type(13) { top: 66px; left: 133px; }
img:nth-of-type(14) { top: 92px; left: 190px; }
img:nth-of-type(15) { top: 64px; left: 240px; }
img:nth-of-type(16) { top: 110px; left: 314px; }
img:nth-of-type(17) { top: 126px; left: 378px; }
img:nth-of-type(18) { top: 121px; left: 447px; }
img:nth-of-type(19) { top: 150px; left: 513px; }
img:nth-of-type(20) { top: 129px; left: 564px; }

img:nth-of-type(21) { top: 162px; }
img:nth-of-type(22) { top: 187px; left: 51px; }
img:nth-of-type(23) { top: 198px; left: 133px; }
img:nth-of-type(24) { top: 208px; left: 190px; }
img:nth-of-type(25) { top: 183px; left: 240px; }
img:nth-of-type(26) { top: 200px; left: 314px; }
img:nth-of-type(27) { top: 189px; left: 378px; }
img:nth-of-type(28) { top: 192px; left: 447px; }
img:nth-of-type(29) { top: 199px; left: 513px; }
img:nth-of-type(30) { top: 189px; left: 564px; }

img:nth-of-type(31) { top: 237px; }
img:nth-of-type(32) { top: 237px; left: 76px; }
img:nth-of-type(33) { top: 237px; left: 127px; }
img:nth-of-type(34) { top: 237px; left: 182px; }
img:nth-of-type(35) { top: 237px; left: 250px; }
img:nth-of-type(36) { top: 237px; left: 304px; }
img:nth-of-type(37) { top: 237px; left: 365px; }
img:nth-of-type(38) { top: 237px; left: 459px; }
img:nth-of-type(39) { top: 237px; left: 503px; }
img:nth-of-type(40) { top: 237px; left: 543px; }

img:nth-of-type(41) { top: 309px; }
img:nth-of-type(42) { top: 341px; left: 76px; }
img:nth-of-type(43) { top: 354px; left: 127px; }
img:nth-of-type(44) { top: 334px; left: 182px; }
img:nth-of-type(45) { top: 355px; left: 250px; }
img:nth-of-type(46) { top: 335px; left: 304px; }
img:nth-of-type(47) { top: 326px; left: 365px; }
img:nth-of-type(48) { top: 353px; left: 459px; }
img:nth-of-type(49) { top: 372px; left: 503px; }
img:nth-of-type(50) { top: 341px; left: 543px; }