/**
 * Ricardo Froeliger
 * Davinci College Software Developer 
**/

/* This file is styling of the buttons, text & centering the whole thing in the middle. */
.button { 
    width: 100;
    height: 33;
    font-size: 18;
    margin: 5;
    cursor: pointer;
    background: #88d1f3;
    color: black;
}
.counter {
    font-size: 2.5em;
    margin: 45;
}
.price { 
    font-size:1.5em; 
    margin: 30; 
}
.receipt {
    font-size: 20; 
    position: relative; 
    top: 80;   
}
.main{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}
.bg {
    background: linear-gradient(to right, #00ff77, #0077ff);
    height: 100%;
};