@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.grid-container {
    display: grid;
	grid-template-columns: auto auto auto auto auto;
    grid-gap: 0px;
    width: 1100px;
    margin: 0px auto;
}
.grid-home {
    grid-template-rows: 110px 425px 400px 65px;
}
.grid-cars {
    grid-template-rows: 110px 400px 65px;
    background: linear-gradient(to bottom, #354A5F, #6C99B6);
}
.grid-clothes {
    grid-template-rows: 110px 550px 65px;
    background: linear-gradient(to bottom, #354A5F, #6C99B6);
}


/* Navigator */
.nav {
	background-image: url('../images/header_bg.png');
	grid-column: 1/6;
    grid-row: 1;
    padding: 0px;
}
.nav img {
    height: 100px;
    padding: 10px 0px 0px 20px;
}
.nav nav {
    display: inline; 
    position: absolute;
    padding: 45px 0px 45px 100px;
}
.nav nav a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
}


/* Banners */
.banner {
	background-image: url('../images/banner_bg.png');
	grid-column: 1/6;
	grid-row: 2;
}
.banner img {
	grid-column: 1/3;
	grid-row: 2;
	margin: 20px 20px 20px 40px;
}
.banner div, .cars-banner div, .clothes-banner div {
	width: 20%;
	display: inline-block;
    position: absolute;
}
.banner h1, .banner p {
    color: white;
    margin-top: 16px;
}
.banner h1, .cars-banner h1, .clothes-banner h1 {
    font-size: 26px;
    line-height: 30px;
}
.cars-banner img {
    grid-column: 1/3;
    grid-row: 2;
    width: 700px;
    height: 350px;
    margin: 25px; 
}
.clothes-banner img {
    grid-column: 1/3;
    grid-row: 2;
    width: 400px;
    height: 500px;
    margin: 25px; 
}
.cars-banner h1, .cars-banner li.first, 
.clothes-banner h1, .clothes-banner li.first {
    margin-top: 20px;
    color: white;
}
.cars-banner li {
    color: white;
    margin: 15px 0px 0px 20px;
}
.clothes-banner li {
    color: white;
    margin: 20px 0px 0px 20px;
}


/* Sliders */
.slider {
    margin: 30px; 
    grid-row: 3;
    width: 300px;
}
.slider img {
    margin-bottom: 15px;
}
.slider h2 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 22px;
}
.slider ul {
    margin: 15px;
}
.slider ul li a {
    text-decoration: none;
    color: black;
}
.fade-slider {
	grid-column: 2;
}	
.nivo-slider {
	grid-column: 3;
	grid-row: 3;
}
.bonus-3d-slider {
	grid-column: 4;
	grid-row: 3;
}


/* Footer */
.footer{
    background-image: url('../images/footer_bg.png');
    grid-column: 1/5;
    height: 65px;
    width: 1100px;
    text-align: center;
    color: white;
    line-height: 65px;
}
.footer-row4 {
    grid-row: 4;
}
.footer-row3 {
    grid-row: 3;
}