* {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
}

body {
    background-color: aquamarine;
}

div {
    height: 84px;
	width: 84px;
    position: absolute;
}
div#tank {
	background: url('tank.png') 84px 0px;
}