@keyframes fade-in-out { 
    0%, 100% { opacity: 0 } 
    30%, 70% { opacity: 1 } 
}
@keyframes fade-in { 
    0% { opacity: 0 } 
    100% { opacity: 1 } 
}
@font-face { 
    font-family: 'ATLA Font'; 
    src: url('./media/audio & fonts/atlaFont.ttf') format('truetype'); 
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    width: 100%;
}
body { 
    background: black;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
}
.centerX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  
}

/* i.fas { 
    font-size: 3.75vmin; 
} */

img, video {
    pointer-events: none;
    user-select: none;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
    letter-spacing: 0.3vmin;
    text-align: center;
    font-weight: bold;
    font-family: 'ATLA Font', sans-serif;
    pointer-events: none;
    user-select: none;
}
button {
    text-align: center;
    font-size: 5vmin;
    font-weight: bold;
    font-family: 'ATLA Font', sans-serif;

    height: 7.5vh;
    width: 45vw;
    outline: none;
    border: 0.4vmin solid transparent;
    background: rgba(255, 255, 255, 0.5);
    animation: fade-in 0.25s ease-in;
    overflow: hidden;
}
button:hover {
    cursor: pointer;
    border: 0.4vmin solid white;
    background: rgba(204, 204, 204, 0.5);
}